/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/SECURITY.md                                        @pyvista/admin
/.github/workflows/                                 @pyvista/ci-reviewers
/.github/actions/                                   @pyvista/ci-reviewers
/.github/dependabot.yml                             @pyvista/ci-reviewers
/.github/auto-merge.yml                             @pyvista/ci-reviewers
/.github/zizmor.yml                                 @pyvista/ci-reviewers
/tox.ini                                            @pyvista/ci-reviewers
