version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
      day: "monday"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "pydata-sphinx-theme" # Do not upgrade, see https://github.com/pyvista/pyvista/pull/7095
        versions: [">0.15.4"]
    groups:
      trame:
        patterns:
          - "trame"
          - "trame-*"
      sphinx:
        patterns:
          - "*sphinx*"
          - "pypandoc"
      pytest:
        patterns:
          - "pytest"
          - "pytest-*"
      all-else:
        patterns:
          - "*"
    labels:
      - "maintenance"
      - "dependencies"
    rebase-strategy: "disabled"
    cooldown:
      default-days: 7

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
    open-pull-requests-limit: 10
    groups:
      gha:
        patterns:
          - "*"
    labels:
      - "maintenance"
      - "dependencies"
    rebase-strategy: "disabled"
    cooldown:
      default-days: 7

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
    open-pull-requests-limit: 10
    labels:
      - "maintenance"
      - "dependencies"
    rebase-strategy: "disabled"
    cooldown:
      default-days: 7
