version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    insecure-external-code-execution: allow
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 100
    groups:
      trame:
        patterns:
          - "trame"
          - "trame-*"
      sphinx:
        patterns:
          - "*sphinx*"
          - "pypandoc"
      pytest:
        patterns:
          - "pytest"
          - "pytest-*"
    labels:
      - "maintenance"
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 100
    groups:
      gha:
        patterns:
          - "*"
    labels:
      - "maintenance"
      - "dependencies"

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 100
    labels:
      - "maintenance"
      - "dependencies"
