*.egg-info
*.ipynb
*.pyc
.coverage
.coverage.*
.git
.gitattributes
.github
.gitignore
.hypothesis
.idea
.ipynb_checkpoints
.mypy_cache
.pre-commit-config.yaml
.pytest_cache
.python-version
.ruff_cache
.tox
.venv
.vscode
__pycache__/
build/
coverage.xml
dist/
doc/
examples/
examples_trame/
htmlcov
tests/
uv.lock
venv
