variables:
  ALLOW_PLOTTING: true
  SHELLOPTS: 'errexit:pipefail'

trigger:
  branches:
    include:
    - '*'
    exclude:
    - '*no-ci*'
  tags:
    include:
    - '*'

pr:
  branches:
    include:
    - '*'
    exclude:
    - '*no-ci*'

jobs:

# DESCRIPTION: Quickly check the spelling and documentation style
- job: CodeSpellStyle
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7'
  - script: |
      pip install -r requirements_style.txt
      make doctest
    displayName: 'Run doctest'


# DESCRIPTION: Core API and doc string testing for Linux
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    PYVISTA_VIRTUAL_DISPLAY: 'True'
    PYVISTA_OFF_SCREEN: 'True'

  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      PIP_CACHE_PATH=$(pip cache dir)
      echo "##vso[task.setvariable variable=PIP_CACHE_PATH]$PIP_CACHE_PATH"
      PYVISTA_VERSION=$(python -c "import io; exec(io.open('pyvista/_version.py').read()); print(__version__)")
      echo "##vso[task.setvariable variable=PYVISTA_VERSION]$PYVISTA_VERSION"
    displayName: 'Store pip cache path and pyvista version'

  - task: Cache@2
    inputs:
      key: 'PIP_WHEEL_CACHE | $(Agent.OS) | "$(python.version)" | "$(PYVISTA_VERSION)"'
      path: $(PIP_CACHE_PATH)
    displayName: Cache pip

  - script: |
      pip install wheel
      python setup.py bdist_wheel
      pip install dist/pyvista*.whl
    displayName: Build wheel and install pyvista

  - script: |
      .ci/setup_headless_display.sh
    displayName: Install headless display

  - script: |
      sudo apt-get install python3-tk
      pip install -r requirements_test.txt
      python -c "import pyvista; print(pyvista.Report())"
      which python
      pip list
    displayName: 'Install dependencies'

  - script: |
      pip install pytest-azurepipelines
      cd tests
      pytest -v --cov pyvista --cov-report html
      cd ..
    displayName: 'Test Core API'

  - script: |
      pytest -v --doctest-modules pyvista
    displayName: 'Test Package Docstrings'

  - script: |
      bash <(curl -s https://codecov.io/bash)
    displayName: 'Upload coverage to codecov.io'
    condition: eq(variables['python.version'], '3.7')

  - script: |
      pip install twine
      python setup.py sdist
      twine upload --skip-existing dist/pyvista*
    displayName: 'Upload to PyPi'
    condition: and(eq(variables['python.version'], '3.7'), contains(variables['Build.SourceBranch'], 'refs/tags/'))
    env:
      TWINE_USERNAME: $(twine.username)
      TWINE_PASSWORD: $(twine.password)
      TWINE_REPOSITORY_URL: "https://upload.pypi.org/legacy/"

  # don't run job on no-ci builds
  condition: not(contains(variables['System.PullRequest.SourceBranch'], 'no-ci'))


# DESCRIPTION: Core API and doc string testing across VTK versions using conda
- job: LinuxConda
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    PYVISTA_VIRTUAL_DISPLAY: 'True'
    PYVISTA_OFF_SCREEN: 'True'

  strategy:
    matrix:
      VTKv81:
        VTK.VERSION: 8.1
      VTKv82:
        VTK.VERSION: 8.2

  steps:

    - script: |
        .ci/setup_headless_display.sh
      displayName: Install headless display

    - script: |
        export CONDA_ALWAYS_YES=1
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda config --add channels conda-forge
        sed -i -e 's/- vtk$/- vtk=$(VTK.VERSION)/' environment.yml
        conda env create --quiet -n pyvista-vtk$(VTK.VERSION) --file environment.yml
        conda activate pyvista-vtk$(VTK.VERSION)
        pip install -e .
        conda list
        which python
        python -c "import pyvista; print(pyvista.Report())"
      displayName: Create Anaconda environment

    - script: |
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda activate pyvista-vtk$(VTK.VERSION)
        pytest -v --cov pyvista --cov-report html
      displayName: 'Test Core API against VTK'

    - script: |
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda activate pyvista-vtk$(VTK.VERSION)
        pytest -v --doctest-modules pyvista
      displayName: 'Test Package Docstrings against VTK'
  condition: not(contains(variables['System.PullRequest.SourceBranch'], 'no-ci'))


# DESCRIPTION: Core API testing for Windows
- job: Windows
  pool:
    vmIMage: 'VS2017-Win2016'
  variables:
    AZURE_CI_WINDOWS: 'true'
  strategy:
    maxParallel: 4
    matrix:
      Python35-64bit:
        python.version: '3.5'
      Python36-64bit:
        python.version: '3.6'
      Python37-64bit:
        python.version: '3.7'
      Python38-64bit:
        python.version: '3.8'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(python.version)
      addToPath: true
  - powershell: |
      $PIP_CACHE_PATH = (pip cache dir) | Out-String
      echo "##vso[task.setvariable variable=PIP_CACHE_PATH]$PIP_CACHE_PATH"
      $PYVISTA_VERSION = $(python -c "import io; exec(io.open('pyvista/_version.py').read()); print(__version__)") | Out-String
      echo "##vso[task.setvariable variable=PYVISTA_VERSION]$PYVISTA_VERSION"
    displayName: 'Store pip cache path and pyvista version'
  - task: Cache@2
    inputs:
      key: 'PIP_WHEEL_CACHE | $(Agent.OS) | "$(python.version)" | "$(PYVISTA_VERSION)"'
      path: $(PIP_CACHE_PATH)
    displayName: Cache pip
  - powershell: |
      Set-StrictMode -Version Latest
      $ErrorActionPreference = "Stop"
      $PSDefaultParameterValues['*:ErrorAction']='Stop'
      git clone --depth 1 git://github.com/pyvista/gl-ci-helpers.git
      powershell gl-ci-helpers/appveyor/install_opengl.ps1
    displayName: 'Install OpenGL'
  - script: |
      pip install wheel
      pip install .
      python -c "import pyvista; print(pyvista.Report())"
    displayName: 'Install PyVista'
  - script: |
      pip install -r requirements_test.txt
    displayName: 'Install test dependencies'
  - script: |
      python -m pytest --cov -v .
    displayName: 'Run Tests'

  # don't run job on no-ci builds
  condition: not(contains(variables['System.PullRequest.SourceBranch'], 'no-ci'))


# DESCRIPTION: Core API testing for MacOS
- job: macOS
  variables:
    python.architecture: 'x64'
  strategy:
    matrix:
      # Skipping Python 3.5: Python 3.5 not supported on Azure Mac OS
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  pool:
    vmImage: 'macOS-10.15'
  steps:
    - script: .ci/macos-install-python.sh '$(python.version)'
      displayName: Install Python

    - script: |
        python setup.py sdist
        python setup.py install
        python -c "import pyvista; print(pyvista.Report())"
      displayName: 'Install PyVista'

    - script: |
        python -m pip install -r requirements_test.txt
        python -m pip install pytest-azurepipelines pytest-xdist
      displayName: 'Install test dependencies'

    - script: |
        python -m pytest -v --cov pyvista --cov-report html --durations=0 -n 2
      displayName: 'Run Tests'

  # don't run job on no-ci builds
  condition: not(contains(variables['System.PullRequest.SourceBranch'], 'no-ci'))


# Builds the documentation
- job: BuildDocumentation
  pool:
    vmImage: 'ubuntu-16.04'

  variables:
    PYVISTA_VIRTUAL_DISPLAY: 'True'
    PYVISTA_OFF_SCREEN: 'True'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: 3.7
    displayName: 'Use Python 3.7'

  - script: |
      git config --global user.name ${GH_NAME}
      git config --global user.email ${GH_EMAIL}
      git config --list | grep user.
    displayName: 'Configure git'
    env:
      GH_NAME: $(gh.name)
      GH_EMAIL: $(gh.email)

  - script: |
      pip install -e .
    displayName: Install pyvista

  - script: |
      .ci/setup_headless_display.sh
      # python .ci/pyvista_test.py  # for debug
    displayName: Install headless display

  - script: |
      sudo apt-get install python3-tk
      pip install -r requirements_docs.txt
    displayName: 'Install dependencies'

  - script: |
      EXAMPLES_PATH=$(python -c "import pyvista; print(pyvista.EXAMPLES_PATH)")
      mkdir -p EXAMPLES_PATH
      echo "##vso[task.setvariable variable=EXAMPLES_PATH]$EXAMPLES_PATH"
      PYVISTA_VERSION=$(python -c "import io; exec(io.open('pyvista/_version.py').read()); print(__version__)")
      echo "##vso[task.setvariable variable=PYVISTA_VERSION]$PYVISTA_VERSION"
      echo $EXAMPLES_PATH
    displayName: 'Store location of pyvista downloads cache and version'

  - task: Cache@2
    inputs:
      key: 'PYVISTA_EXAMPLES_CACHE | "$(PYVISTA_VERSION)"'
      path: $(EXAMPLES_PATH)
    displayName: Build pyvista examples directory cache

  - task: Cache@2
    inputs:
      key: 'PYVISTA_DOC_EXAMPLES_CACHE | "$(PYVISTA_VERSION)"'
      path: '$(Build.SourcesDirectory)/docs/examples'
    displayName: Build pyvista doc examples cache

  - script: |
      make -C docs html -b coverage
      cat docs/_build/coverage/python.txt
    displayName: 'Build documentation'

  - script: |
      make -C docs doctest
    displayName: 'Test documentation code snippets'

  - script: |
      make -C docs html
    displayName: 'Update figures from doctest'

  # Push example notebooks to pyvista-examples
  - script: |
      pip install cookiecutter
      cookiecutter -f --no-input --config-file ./docs/pyvista-binder-config.yml -o .. https://github.com/pyvista/cookiecutter-pyvista-binder.git;
      rm -rf ../pyvista-examples/notebooks/
      cd docs
      find examples -type f -name '*.ipynb' | cpio -p -d -v ../../pyvista-examples/
      cd ../../pyvista-examples/
      git init
      git add .
      git commit -am "Azure CI commit ref $(Build.SourceVersion)"
      REMOTE="https://${GH_TOKEN}@github.com/pyvista/pyvista-examples"
      git remote add origin ${REMOTE}
      git push -uf origin master
      cd $BUILD_SOURCESDIRECTORY
    displayName: 'Upload binder examples'
    condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'refs/tags/'))
    env:
      GH_TOKEN: $(gh.token)

  # Push example notebooks to pyvista-examples develop branch
  - script: |
      pip install cookiecutter
      cookiecutter -f --no-input --config-file ./docs/pyvista-binder-config.yml -o .. https://github.com/pyvista/cookiecutter-pyvista-binder.git;
      rm -rf ../pyvista-examples/notebooks/
      cd docs
      find examples -type f -name '*.ipynb' | cpio -p -d -v ../../pyvista-examples/
      cd ../../pyvista-examples/
      git init
      git checkout -b develop
      git add .
      git commit -am "Azure CI commit ref $(Build.SourceVersion)"
      REMOTE="https://${GH_TOKEN}@github.com/pyvista/pyvista-examples"
      git remote add origin ${REMOTE}
      git push -uf origin develop
      cd $BUILD_SOURCESDIRECTORY
    displayName: 'Upload binder examples to develop'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    env:
      GH_TOKEN: $(gh.token)

  # upload documentation to pyvista-docs gh-pages on tags
  - script: |
      git clone --depth 1 https://${GH_TOKEN}@github.com/pyvista/pyvista-docs.git
      cd pyvista-docs
      git gc --prune=now
      git remote prune origin
      rm -rf *
      cp -r $BUILD_SOURCESDIRECTORY/docs/_build/html/* .
      cp $BUILD_SOURCESDIRECTORY/docs/README.md .
      touch .nojekyll
      echo "docs.pyvista.org" >> CNAME
      git add .
      git commit -am "Azure CI commit ref $(Build.SourceVersion)"
      git push
    displayName: Upload Documentation to pyvista-docs
    env:
      GH_TOKEN: $(gh.token)
    condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'refs/tags/'))

  # upload documentation to pyvista-docs develop when merging with master
  - script: |
      mkdir pyvista-docs-dev
      cd pyvista-docs-dev
      git init
      git checkout -b gh-pages
      cp -r $BUILD_SOURCESDIRECTORY/docs/_build/html/* .
      cp $BUILD_SOURCESDIRECTORY/docs/README.md .
      touch .nojekyll
      echo "dev.pyvista.org" >> CNAME
      git add .
      REMOTE="https://${GH_TOKEN}@github.com/pyvista/pyvista-docs-dev"
      git remote add origin ${REMOTE}
      git commit -am "Azure CI commit ref $(Build.SourceVersion)"
      git push -uf origin gh-pages
    displayName: Upload Documentation to pyvista-docs-dev
    env:
      GH_TOKEN: $(gh.token)
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  # don't run job on no-ci builds
  condition: not(contains(variables['System.PullRequest.SourceBranch'], 'no-ci'))
