[tool.isort]
profile = "black"
line_length = 100
# Sort by name, don't cluster "from" vs "import"
force_sort_within_sections = true
# Combines "as" imports on the same line
combine_as_imports = true
skip_glob = "pyvista/**/__init__.py,pyvista/__init__.py"

# Black has a harsh stance on using setup.cfg
#   see https://github.com/psf/black/issues/683#issuecomment-542731068
[tool.black]
line-length = 100
skip-string-normalization = true
target-version = ["py39"]
exclude='\.eggs|\.git|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist|node_modules'
