# Note: using < here to reduce breakages
# These should be automatically kept up to date by dependabot
-r requirements.txt
cmocean<3.1.4
colorcet<3.2.0
hypothesis<6.99.9
imageio<2.35.0
imageio-ffmpeg<0.5.0
ipython<9.0.0
ipywidgets<9.0.0
meshio<5.4.0
nest_asyncio<1.6.1
numpydoc==1.6.0
pydata-sphinx-theme<0.16.0
pytest<8.1.0
pytest-cov<4.2.0
pytest-memprof<0.3.0
pytest-xdist<3.6.0
pytest_pyvista==0.1.8
sphinx<7.2.0
sphinx-gallery<0.16.0
sphinx_design<0.6.0
sympy<1.13.0
tqdm<4.67.0
trame>=2.5.2,<3.5.4
trame-vtk>=2.5.8,<2.8.6
trame-vuetify>=2.3.1,<2.4.4
trimesh<4.3.0
