-r requirements.txt
cmocean==3.0.3
colorcet==3.0.1
enum-tools==0.11.0
imageio==2.33.0
imageio-ffmpeg==0.4.9
jupyter_sphinx==0.4.0
jupyterlab==4.0.9
lxml==4.9.3
meshio==5.3.4
mypy==1.6.1
mypy-extensions==1.0.0
numpydoc==1.6.0
osmnx==1.8.0
pydata-sphinx-theme==0.14.4
pypandoc==1.12
pytest-sphinx==0.5.0
scipy==1.11.4
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinx-gallery==0.14.0
sphinx-notfound-page==1.0.0
sphinx-toolbox==3.5.0
sphinxcontrib-asciinema==0.3.8
sphinxcontrib-websupport==1.2.6
sympy==1.12
trame==3.6.0
trame-vtk==2.8.6
trame-vuetify==2.4.3
trimesh==4.3.0
