scipy
matplotlib
imageio>=2.5.0
imageio-ffmpeg
colorcet
cmocean
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.4.0
lxml
trimesh
vtk==8.1.2  # needed because 9.0.X has an issue with the plotter closing with iren
