# Note: using < here to reduce breakages
# These should be automatically kept up to date by dependabot
-r requirements.txt
cmocean<4.0.4
colorcet<3.2.0
embreex<2.17.8
hypothesis<6.104.3
imageio<2.35.0
imageio-ffmpeg<0.6.0
ipython<9.0.0
ipywidgets<9.0.0
meshio<5.4.0
mypy<1.11.0
nest_asyncio<1.6.1
npt-promote==0.1
numpydoc==1.7.0
param<2.1.0
pyanalyze<=0.12.0
pydata-sphinx-theme<0.16.0
pytest<8.3.0
pytest-cov<5.1.0
pytest-memprof<0.3.0
pytest-pyvista==0.1.8
pytest-xdist<3.7.0
scipy<1.14.1
sphinx<7.4.0
sphinx-gallery<0.17.0
sphinx_design<0.7.0
sympy<1.13.0
tqdm<4.67.0
trame>=2.5.2,<3.6.4
trame-vtk>=2.5.8,<2.8.10
trame-vuetify>=2.3.1,<2.6.1
trimesh<4.5.0
typing-extensions<4.13.0
