-r requirements.txt
cmocean==3.0.3
colorcet==3.0.1
enum-tools==0.10.0
imageio==2.31.2
imageio-ffmpeg==0.4.8
jupyter_sphinx==0.4.0
jupyterlab==4.0.5
lxml==4.9.3
meshio==5.3.4
mypy==1.5.1
mypy-extensions==1.0.0
numpydoc==1.5.0
osmnx==1.6.0
pydata-sphinx-theme==0.13.3
pypandoc==1.11
pytest-sphinx==0.5.0
scipy==1.11.2
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.2
sphinx-design==0.5.0
sphinx-gallery==0.14.0
sphinx-notfound-page==1.0.0
sphinx-toolbox==3.5.0
sphinxcontrib-asciinema==0.3.7
sphinxcontrib-websupport==1.2.6
sympy==1.12
trame==3.2.4
trame-vtk==2.5.8
trame-vuetify==2.3.1
trimesh==3.23.3
