# Core dependencies
# `vtk` must be explicitly installed
# It is critical that VTK is *not* listed here.
#  This is to prevent installing `vtk` from PyPI
#  when using a custom variant like `vtk_osmesa`
#  which we do in some of our CI jobs.
imageio<2.28.0
matplotlib<3.7.2
numpy<1.25.0
pillow<9.6.0
pooch<1.8.0
scooby>=0.5.1,<0.8.0
