<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
   <body>

     <select style="background-color: #ffffa0" name="country", id="meshtype" onchange="getState(this.value)">
       <option>Select Mesh Type</option>
       <option>Sphere</option>
       <option>Cube</option>
       <option>Bohemian Dome</option>
       <option>Cylinder</option>
     </select>

     <button type='button' id ='retrieve'>Plot</button>
     <img src="" id="myimg" />
   </body>
  <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('get_img') }}",
           type: "GET",
           data: {
               meshtype:  $('#meshtype option:selected').val()
           },
           success: function(response) {
               $("#myimg").attr('src', '/static/' + response);
          },
          error: function(xhr) {
              alert("Please select a mesh type from the drop down menu.");
         }
         });
       });
    });
  </script>
</html>
