name: Build Documentation
on:
  pull_request:  # Uses cache
  workflow_dispatch:  # Able to not use cache by user demand
    inputs:
      cache:
        description: 'Use build cache'
        required: false
        default: "true"
  # No cache enabled for `schedule` and `push`
  schedule:
    - cron: '0 0 1 * *'  # once a month on main
  push:
    tags:
      - '*'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  USE_CACHE: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.cache == 'true') || (github.event_name == 'pull_request') || (github.event_name == 'push') }}

jobs:
  doc:
    name: Build Documentation
    runs-on: ubuntu-20.04
    env:
      PYVISTA_OFF_SCREEN: 'True'
      ALLOW_PLOTTING: true
      SHELLOPTS: 'errexit:pipefail'
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            requirements_docs.txt

      - uses: awalsh128/cache-apt-pkgs-action@v1.1.3
        with:
          packages: libosmesa6-dev libgl1-mesa-dev python3-tk pandoc git-restore-mtime
          version: 3.0

      - name: Install custom OSMesa VTK variant
        run: pip install https://github.com/pyvista/pyvista-wheels/raw/main/vtk_osmesa-9.2.5-cp39-cp39-linux_x86_64.whl

      - name: Install PyVista and dependencies
        run: |
          pip install -e . --no-deps
          pip install -r requirements_docs.txt

      - name: PyVista Report
        run: |
          python -c "import pyvista;print(pyvista.Report())"
          echo PYVISTA_EXAMPLE_DATA_PATH=$(python -c "from pyvista import examples; print(examples.USER_DATA_PATH)") >> $GITHUB_ENV

      - name: Cache Sphinx-Gallery Examples
        uses: actions/cache@v3
        if: env.USE_CACHE == 'true'
        with:
          path: doc/examples/
          key: doc-examples-${{ hashFiles('pyvista/_version.py') }}

      - name: Cache example data
        uses: actions/cache@v3
        if: env.USE_CACHE == 'true'
        with:
          path: ${{ env.PYVISTA_EXAMPLE_DATA_PATH }}
          key: example-data-1-${{ hashFiles('pyvista/_version.py') }}

      # configure building documentation with methods on individual pages on
      # main, release, or tags with v*
      - name: Set building full docs
        if: >-
          ${{
          ( github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'full-doc') ) ||
          github.ref == 'refs/heads/main' ||  contains(github.ref, 'release') || startsWith(github.ref, 'refs/tags/v')
          }}
        run: |
           echo "FULL_DOC_BUILD=TRUE" >> $GITHUB_ENV

      - name: Build Documentation
        run: make -C doc html SPHINXOPTS="-W --keep-going"

      - name: Tar build
        if: always()
        run: tar -zcvf docs-build.tar.gz doc/_build/html/

      - name: Upload HTML documentation
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: docs-build
          path: docs-build.tar.gz

      - uses: actions/upload-artifact@v3
        with:
          name: examples
          path: doc/examples/

      - name: Get Notebooks
        run: |
          mkdir _notebooks
          find doc/examples -type f -name '*.ipynb' | cpio -p -d -v _notebooks/

      - uses: actions/upload-artifact@v3
        with:
          name: pyvista-notebooks
          path: _notebooks

  deploy:
    name: Publish Documentation
    runs-on: ubuntu-20.04
    needs: doc
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: docs-build
          path: .
      - name: Untar build
        run: tar -xzvf docs-build.tar.gz
      - name: Copy meta data
        run: |
          cp doc/README.md doc/_build/html/
          cp doc/ads.txt doc/_build/html/

      - name: Deploy on main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: pyvista/pyvista-docs-dev
          personal_token: ${{ secrets.PYVISTA_BOT_TOKEN }}
          publish_dir: doc/_build/html/
          cname: dev.pyvista.org

      - name: Deploy on release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: pyvista/pyvista-docs
          personal_token: ${{ secrets.PYVISTA_BOT_TOKEN }}
          publish_dir: doc/_build/html/
          cname: docs.pyvista.org

  publish-notebooks:
    name: Publish Notebooks for MyBinder
    runs-on: ubuntu-20.04
    needs: doc
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: |
          pip install cookiecutter
      - uses: actions/download-artifact@v3
        with:
          name: pyvista-notebooks
          path: .

      - name: Make Cookiecutter
        run: |
          cookiecutter -f --no-input --config-file ./doc/pyvista-binder-config.yml https://github.com/pyvista/cookiecutter-pyvista-binder.git;
          rm -rf ./pyvista-examples/notebooks/
          cp -r doc/examples/ ./pyvista-examples/
          ls -l ./pyvista-examples/

      - name: Publish notebooks on main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: pyvista/pyvista-examples
          personal_token: ${{ secrets.PYVISTA_BOT_TOKEN }}
          publish_dir: pyvista-examples
          publish_branch: develop
          exclude_assets: ''

      - name: Publish notebooks on release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: pyvista/pyvista-examples
          personal_token: ${{ secrets.PYVISTA_BOT_TOKEN }}
          publish_dir: pyvista-examples
          publish_branch: master
          exclude_assets: ''
