name: Update Local Intersphinx Mappings

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 1 * *"


jobs:
  intersphinx_update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Update intersphinx objects
      run: make -C doc update-intersphinx

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        commit-message: "[create-pull-request] update local intersphinx"
        labels: |
          maintenance
        body: |
          Automated changes by [create-pull-request](https://github.com/peter-evans/create-pull-request) GitHub action
          These changes update all the intersphinx mappings. To run CI close and reopen PR.
        title: "Automated PR: Update Local Intersphinx"
