name: Integration Tests

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
  push:
    tags:
      - "*"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ALLOW_PLOTTING: true
  SHELLOPTS: 'errexit:pipefail'

jobs:
  # For now this is just MNE-Python, but others could be added
  mne:
    name: MNE-Python
    runs-on: ubuntu-22.04
    env:
      DISPLAY: ':99.0'
      MNE_LOGGING_LEVEL: 'info'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: git clone --depth=1 https://github.com/mne-tools/mne-python.git --branch main --single-branch
      - run: ./mne-python/tools/setup_xvfb.sh
      - name: Install MNE dependencies
        run: pip install numpy scipy matplotlib pyvistaqt nibabel PyQt6 qtpy ipyvtklink ipympl pytest pytest-cov pytest-harvest pytest-timeout sphinx-gallery nbformat nbclient imageio-ffmpeg
      - name: Install PyVista
        run: pip install -ve .  # pyvista
      - name: Install MNE
        run: pip install -ve .  # mne
        working-directory: mne-python
      - name: MNE Info
        run: mne sys_info -p
        working-directory: mne-python
      - run: ./tools/get_testing_version.sh
        working-directory: mne-python
      - uses: actions/cache@v3
        with:
          key: ${{ env.TESTING_VERSION }}
          path: ~/mne_data
      - run: ./tools/github_actions_download.sh
        working-directory: mne-python
      - run: pytest mne/viz/_brain mne/viz/tests/test_3d.py mne/viz/backends
        working-directory: mne-python

  pyvistaqt:
    name: PyVistaQt
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: git clone https://github.com/pyvista/pyvistaqt.git --single-branch
      - uses: pyvista/setup-headless-display-action@main
        with:
          qt: true
          pyvista: false
      - run: pip install -ve ./pyvistaqt -r ./pyvistaqt/requirements_test.txt PyQt6
      - run: pip install -ve .
      - run: pytest ./tests
        working-directory: pyvistaqt
