name: "Pull Request Labeler"
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  workflow_dispatch:

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - name: Label based on changed files
      uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        # https://github.com/actions/labeler/issues/112#issuecomment-1000491676
        sync-labels: ''

    # Label based on branch name
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'doc/') || startsWith(github.event.pull_request.head.ref, 'docs')
      with:
        labels: documentation
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'docker')
      with:
        labels: docker
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'maint') || startsWith(github.event.pull_request.head.ref, 'no-ci') || startsWith(github.event.pull_request.head.ref, 'ci')
      with:
        labels: maintenance
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'junk')
      with:
        labels: ignore-for-release
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'feat')
      with:
        labels: enhancement
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'fix') || startsWith(github.event.pull_request.head.ref, 'patch')
      with:
        labels: bug
    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'release')
      with:
        labels: release
    - name: Wait until auto label is add
      run: sleep 120s
      shell: bash
    - uses: mheap/github-action-required-labels@v2
      with:
        mode: minimum
        count: 1
        labels: "documentation, docker, maintenance, ignore-for-release, enhancement, bug, release"
