# check spelling, codestyle
name: Style and Docstring Check

on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stylecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: 'pip'

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files

  docstringcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: 'pip'

      - uses: actions/cache@v3
        with:
          path: ~/.local/share/pyvista/examples
          key: Examples-Data-${{ hashFiles('*') }}
          restore-keys: |
            Examples-Data-

      - name: Install pyvista and doctest requirements
        run: pip install . -r requirements_test.txt

      - uses: awalsh128/cache-apt-pkgs-action@v1.1.0
        with:
          packages: libgl1-mesa-glx xvfb python-tk
          version: 1.0

      - name: Software Report
        run: |
          xvfb-run python -c "import pyvista; print(pyvista.Report()); print('Examples path:', pyvista.EXAMPLES_PATH)"
          which python
          pip list

      - name: Test Package Docstrings
        run: xvfb-run pytest -v --doctest-modules pyvista

      - name: Test Package Docstrings with Local Namespace
        run: xvfb-run make doctest-modules-local-namespace
