# check spelling, codestyle
name: Style and Docstring Check

on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docstringcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            requirements_test.txt

      - uses: actions/cache@v4
        with:
          path: ~/.local/share/pyvista/examples
          key: Examples-Data-${{ hashFiles('*') }}
          restore-keys: |
            Examples-Data-

      - name: Install pyvista and doctest requirements
        run: |
          pip install -e . --no-deps
          pip install -r requirements_test.txt vtk

      - name: Setup headless display
        uses: pyvista/setup-headless-display-action@v2

      - name: Software Report
        run: |
          python -c "import pyvista; print(pyvista.Report()); from pyvista import examples; print('Examples path:', examples.USER_DATA_PATH)"
          which python
          pip list

      - name: Test Package Docstrings
        run: make doctest-modules

      - name: Test Package Docstrings with Local Namespace
        run: make doctest-modules-local-namespace

  vale:
    name: Vale
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      # this is equivalent to
      # vale --config doc/.vale.ini doc pyvista examples
      - name: "Run Vale"
        uses: errata-ai/vale-action@reviewdog
        with:
          files: '["doc", "pyvista", "examples"]'
          vale_flags: "--config=doc/.vale.ini"
          reporter: github-pr-check
          level: error
          filter_mode: nofilter
          fail_on_error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
