name: Unit Testing and Deployment

# zizmor ignore note: All caching for pushes to main should be disabled with the `USE_CACHE` env var
on: # zizmor: ignore[cache-poisoning]
  pull_request:
  merge_group:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
  push:
    tags:
      - "*"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ALLOW_PLOTTING: true
  SHELLOPTS: "errexit:pipefail"
  USE_CACHE: ${{
    (
    (github.event_name == 'workflow_dispatch' && github.event.inputs.cache == 'true') ||
    (github.event_name == 'pull_request') ||
    (github.event_name == 'push')
    ) &&
    !startsWith(github.ref, 'refs/tags/v') &&
    !startsWith(github.ref, 'refs/heads/release/') &&
    !startsWith(github.ref, 'refs/heads/main')
    }}
  CACHE_FOLDER_NAME: vtk-data
  PYVISTA_VTK_DATA: ${{ github.workspace }}/vtk-data
  LINUX_PLOTTING_ARGS: >
    tests/plotting -v --cov=pyvista --cov-append --cov-report=xml --cov-branch --disallow_unused_cache

permissions:
  id-token: none

jobs:
  cache-vtk-data:
    name: Cache vtk-data Repo
    runs-on: ubuntu-22.04
    outputs:
      key: ${{ steps.restore-cache-vtk-data.outputs.cache-primary-key }}
    steps:
      - name: Get vtk-data commit
        run: echo VTK_DATA_COMMIT=$(git ls-remote https://github.com/pyvista/vtk-data HEAD | awk '{ print $1}') >> $GITHUB_ENV

      - name: Test if the example data cache exists
        id: restore-cache-vtk-data
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: vtk-data-${{ env.VTK_DATA_COMMIT }}
          lookup-only: true

      - name: Clone vtk-data if the cache does not exists # zizmor: ignore[artipacked]
        if: steps.restore-cache-vtk-data.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: pyvista/vtk-data
          path: ${{ env.CACHE_FOLDER_NAME }}

      - name: Create the example data cache
        if: steps.restore-cache-vtk-data.outputs.cache-hit != 'true'
        id: save-cache-vtk-data
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: vtk-data-${{ env.VTK_DATA_COMMIT }}
          enableCrossOsArchive: true

  macOS:
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macos-13, python-version: "3.9" }
          - { os: macos-14, python-version: "3.10" }
          - { os: macos-latest, python-version: "3.11" }
          - { os: macos-latest, python-version: "3.12" }
          - { os: macos-latest, python-version: "3.13" }

    runs-on: ${{ matrix.config.os }}
    name: Mac OS (py${{ matrix.config.python-version }})
    needs: cache-vtk-data

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.config.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.config.python-version }}
          cache: ${{ env.USE_CACHE == 'true' && 'pip' || '' }}

      - name: Restore example data cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}
          enableCrossOsArchive: true

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Core Testing (no GL)
        run: tox run -e py${{ matrix.config.python-version }}-core --colored=yes

      - name: Plotting Testing (uses GL)
        if: always()
        run: tox run -e py${{ matrix.config.python-version }}-plotting --colored=yes

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.config.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.config.* , '-') }}
          path: _generated_test_images

  Linux:
    runs-on: ubuntu-22.04
    needs: cache-vtk-data
    strategy:
      fail-fast: false

      # see discussion at https://github.com/pyvista/pyvista/issues/2867
      matrix:
        include:
          # numeric numpy versions are ~= conditions, e.g. "1.23" means "numpy~=1.23.0"
          - python-version: "3.9"
            vtk-version: "9.0.3" # Requires numpy~=1.23
            numpy-version: "1.23"
          - python-version: "3.9"
            vtk-version: "9.1"
            numpy-version: "1.26" # Test numpy 1.26
          - python-version: "3.10"
            vtk-version: "9.2.2"
            numpy-version: "latest"
          - python-version: "3.11"
            vtk-version: "9.2.6"
            numpy-version: "latest"
          - python-version: "3.12"
            vtk-version: "9.3.1"
            numpy-version: "latest"
          - python-version: "3.13"
            vtk-version: "9.4.2"
            numpy-version: "latest"
          - python-version: "3.13"
            vtk-version: "latest"
            numpy-version: "nightly"
    name: Linux (py${{ matrix.python-version }}, VTK ${{ matrix.vtk-version }}, Numpy ${{ matrix.numpy-version }})
    env:
      TOX_FACTOR: py${{matrix.python-version}}-numpy_${{matrix.numpy-version}}-vtk_${{matrix.vtk-version}}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          persist-credentials: false

      - name: Install uv and set the python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@c893ac1cb213677f58b781341aba739a586833bf
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - name: Install tox-uv
        run: uv pip install tox-uv

      - uses: awalsh128/cache-apt-pkgs-action@4c82c3ccdc1344ee11e9775dbdbdf43aa8a5614e
        if: always()
        with:
          packages: xvfb
          version: 3.0

      - name: Cache example data
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}
          enableCrossOsArchive: true

      - name: Core Testing (no GL)
        run: tox run -e ${{env.TOX_FACTOR}}-cov-core --colored=yes # zizmor: ignore[template-injection]

      - name: Plotting Testing (uses GL)
        if: always()
        run: xvfb-run tox run -e ${{env.TOX_FACTOR}}-cov-plotting --colored=yes # zizmor: ignore[template-injection]

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

      - name: Install coverage
        run: uv pip install coverage

      - uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
        name: "Upload coverage to CodeCov"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Check package
        run: tox run -e package-check --colored=yes

      - name: Upload to PyPi
        if: matrix.python-version == '3.9' && startsWith(github.ref, 'refs/tags/v')
        run: tox run -e package-publish --colored=yes
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_REPOSITORY_URL: "https://upload.pypi.org/legacy/"

  VTK-dev:
    # For PRs, only run this job if the 'vtk-dev-testing' label is applied
    if: |
      (github.event_name != 'pull_request' && github.event_name != 'push') ||
      contains(github.event.pull_request.labels.*.name, 'vtk-dev-testing')
    name: Linux VTK Dev Testing
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    needs: cache-vtk-data
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          persist-credentials: false

      - name: Install uv and set the python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@c893ac1cb213677f58b781341aba739a586833bf
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - name: Install tox-uv
        run: uv pip install tox-uv

      - uses: awalsh128/cache-apt-pkgs-action@4c82c3ccdc1344ee11e9775dbdbdf43aa8a5614e
        with:
          packages: xvfb
          version: 3.0

      - name: Cache example data
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}
          enableCrossOsArchive: true

      - name: Core Testing (no GL)
        run: tox run -e py${{ matrix.python-version }}-core-vtk_main --colored=yes

      - name: Plotting Testing (uses GL)
        if: always()
        run: xvfb-run tox run -e ${{env.TOX_FACTOR}}-cov-plotting --colored=yes # zizmor: ignore[template-injection]

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

  windows:
    runs-on: windows-latest
    name: Windows (py${{ matrix.python-version }})
    needs: cache-vtk-data
    env:
      CI_WINDOWS: true
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv and set the python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@c893ac1cb213677f58b781341aba739a586833bf
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - name: Cache example data
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CACHE_FOLDER_NAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}
          enableCrossOsArchive: true

      - name: Set up headless display
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19

      - name: Install tox-uv
        run: uv pip install tox-uv

      - name: Core Testing (no GL)
        run: tox run -e py${{ matrix.python-version }}-core --colored=yes

      - name: Plotting Testing (uses GL)
        if: always()
        run: tox run -e py${{ matrix.python-version }}-plotting --colored=yes

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images
