name: Unit Testing and Deployment

# zizmor ignore note: All caching for pushes to main should be disabled with the `USE_CACHE` env var
on: # zizmor: ignore[cache-poisoning]
  pull_request:
  merge_group:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"
  push:
    tags:
      - "*"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ALLOW_PLOTTING: true
  SHELLOPTS: "errexit:pipefail"
  TOX_COLORED: "yes"
  USE_CACHE: ${{
    (
    (github.event_name == 'workflow_dispatch' && github.event.inputs.cache == 'true') ||
    (github.event_name == 'pull_request') ||
    (github.event_name == 'push')
    ) &&
    !startsWith(github.ref, 'refs/tags/v') &&
    !startsWith(github.ref, 'refs/heads/release/') &&
    !startsWith(github.ref, 'refs/heads/main')
    }}
  VTK_DATA_DIRNAME: vtk-data
  PYVISTA_VTK_DATA: ${{ github.workspace }}/vtk-data

permissions:
  id-token: none

jobs:
  # Cache vtk-data for each runner separately
  # Runner labels should match the actual runners used by the different jobs in this file
  cache-vtk-data-macOS-self-hosted:
    name: Cache vtk-data Repo (macOS self-hosted)
    uses: ./.github/workflows/cache-vtk-data.yml
    with:
      runs-on: "macos-15-self-hosted"

  cache-vtk-data-windows-latest:
    name: Cache vtk-data Repo (Windows)
    uses: ./.github/workflows/cache-vtk-data.yml
    with:
      runs-on: "windows-latest"

  cache-vtk-data-ubuntu-self-hosted:
    name: Cache vtk-data Repo (Linux self-hosted)
    uses: ./.github/workflows/cache-vtk-data.yml
    with:
      runs-on: "ubuntu-24.04-self-hosted"

  macOS:
    name: ${{ matrix.name }}
    needs: cache-vtk-data-macOS-self-hosted
    strategy:
      fail-fast: false
      matrix:
        include:
          # Self-hosted runner configurations
          - name: MacOS Unit Testing (3.10)
            python-version: "3.10"
            runner-labels: "macos-15-self-hosted"
          - name: MacOS Unit Testing (3.11)
            python-version: "3.11"
            runner-labels: "macos-15-self-hosted"
          - name: MacOS Unit Testing (3.12)
            python-version: "3.12"
            runner-labels: "macos-15-self-hosted"
          - name: MacOS Unit Testing (3.13)
            python-version: "3.13"
            runner-labels: "macos-15-self-hosted"

    runs-on: ${{ matrix.runner-labels }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        if: runner.environment != 'self-hosted'
        uses: actions/setup-python@v6
        continue-on-error: true
        with:
          python-version: ${{ matrix.python-version }}
          cache: ${{ env.USE_CACHE == 'true' && 'pip' || '' }}

      - name: Set Python PATH and create a virtual env
        if: runner.environment == 'self-hosted'
        run: |
          /opt/homebrew/bin/python${{ matrix.python-version }} -m venv .venv
          echo "${{ github.workspace }}/.venv/bin" >> $GITHUB_PATH

      - name: Restore vtk-data cache
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.VTK_DATA_DIRNAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Core Testing (no GL)
        run: tox run -e py${{ matrix.python-version }}-core

      - name: Plotting Testing (uses GL)
        if: ${{ !cancelled() }}
        run: tox run -e py${{ matrix.python-version }}-plotting

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

  Linux:
    name: Linux Unit Testing (${{ matrix.python-version }}, ${{ matrix.vtk-version }}, ${{ matrix.numpy-version }})
    runs-on: ${{ matrix.runner-labels }}
    needs: cache-vtk-data-ubuntu-self-hosted
    strategy:
      fail-fast: false

      # see discussion at https://github.com/pyvista/pyvista/issues/2867
      matrix:
        include:
          # numeric numpy versions are ~= conditions, e.g. "1.23" means "numpy~=1.23.0"
          - python-version: "3.10"
            vtk-version: "9.2.2"
            numpy-version: "1.26"
            runner-labels: "ubuntu-22.04-self-hosted"
          - python-version: "3.11"
            vtk-version: "9.2.6"
            numpy-version: "latest"
            runner-labels: "ubuntu-22.04-self-hosted"
          - python-version: "3.12"
            vtk-version: "9.3.1"
            numpy-version: "latest"
            runner-labels: "ubuntu-22.04-self-hosted"
          - python-version: "3.13"
            vtk-version: "9.4.2"
            numpy-version: "latest"
            runner-labels: "ubuntu-22.04-self-hosted"
          - python-version: "3.13"
            vtk-version: "9.5.2"
            numpy-version: "latest"
            runner-labels: "ubuntu-22.04-self-hosted"
          - python-version: "3.14"
            vtk-version: "latest"
            numpy-version: "nightly"
            runner-labels: "ubuntu-22.04-self-hosted"

    env:
      TOX_FACTOR: py${{matrix.python-version}}-numpy_${{matrix.numpy-version}}-vtk_${{matrix.vtk-version}}
      PARALLEL: "-n4" # flag for pytest-xdist
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with:
          packages: xvfb
          version: 3.0

      - name: Restore vtk-data cache
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.VTK_DATA_DIRNAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Core Testing (no GL)
        run: tox run -e ${{env.TOX_FACTOR}}-cov-core # zizmor: ignore[template-injection]

      - name: Plotting Testing (uses GL)
        if: ${{ !cancelled() }}
        run: xvfb-run tox run -e ${{env.TOX_FACTOR}}-cov-plotting # zizmor: ignore[template-injection]

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Check package
        run: |
          pip install build twine
          python -m build
          twine check --strict dist/*

  VTK-dev:
    # For PRs, only run this job if the 'vtk-dev-testing' label is applied
    if: |
      (github.event_name != 'pull_request' && github.event_name != 'push') ||
      contains(github.event.pull_request.labels.*.name, 'vtk-dev-testing')
    name: Linux VTK Dev Testing
    permissions:
      contents: read
    runs-on: ubuntu-22.04-self-hosted
    needs: cache-vtk-data-ubuntu-self-hosted
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with:
          packages: xvfb
          version: 3.0

      - name: Restore vtk-data cache
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.VTK_DATA_DIRNAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Core Testing (no GL)
        run: tox run -e py${{ matrix.python-version }}-cov-core-vtk_dev

      - name: Plotting Testing (uses GL)
        if: ${{ !cancelled() }}
        run: xvfb-run tox run -e py${{ matrix.python-version }}-cov-plotting-vtk_dev

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  windows:
    name: Windows Unit Testing
    runs-on: windows-latest
    timeout-minutes: 60
    needs: cache-vtk-data-windows-latest
    env:
      CI_WINDOWS: true
      PARALLEL: "-n2" # flag for pytest-xdist
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Restore vtk-data cache
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.VTK_DATA_DIRNAME }}
          key: ${{ needs.cache-vtk-data.outputs.key }}

      - name: Set up headless display
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Core Testing (no GL)
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08
        with:
          timeout_minutes: 12
          max_attempts: 3
          retry_on: timeout
          command: tox run -e py${{ matrix.python-version }}-core

      - name: Plotting Testing (uses GL)
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08
        if: ${{ !cancelled() }}
        with:
          timeout_minutes: 30
          max_attempts: 3
          retry_on: timeout
          command: tox run -e py${{ matrix.python-version }}-plotting

      - name: Upload Images for Failed Tests
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: failed_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _failed_test_images

      - name: Upload Generated Images
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: generated_test_images-${{ github.job }}-${{ join(matrix.* , '-') }}
          path: _generated_test_images

  # Publish to PyPI using trusted publishing
  release:
    name: Release
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    needs: [Linux, windows, macOS]
    runs-on: ubuntu-24.04
    environment:
      name: pypi
      url: https://pypi.org/p/pyvista
    permissions:
      id-token: write # this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Build package
        run: |
          pip install build
          python -m build

      - name: Upload to PyPi
        if: matrix.python-version == '3.13' && startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@03f86fee9ac21f854951f5c6e2a02c2a1324aec7
