name: Static Type Checking

on:
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MYPY_FORCE_COLOR: 1
  TERM: xterm-color

jobs:
  mypy:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13"

      - name: Install tox-uv
        run: uv pip install tox-uv

      - name: Run Mypy
        run: tox run -e mypy --colored=yes
