name: PR update

on:
  push:
    branches:
      - "main"
jobs:
  autoupdate:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Automatically update PR
        uses: adRise/update-pr-branch@1982757e254dab9d5bbb8478b35a2b20411270d9
        with:
          token: ${{ secrets.PYVISTA_BOT_TOKEN }}
          base: "main"
          required_approval_count: 1
          require_passed_checks: false
          sort: "created"
          direction: "desc"
          require_auto_merge_enabled: true
